*{
    margin: 0 auto;
    padding: 0 ;

}
.div{
    margin: 0 ;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
}

/*导航菜单*/
.daohang{
    width: 80%;
    height: 70px;
    /*background-color: khaki;*/
}

.top-menu li{
    float: left;
    line-height: 70px;
    margin: 0 15px;
    font-size: 30px;
}

/*中部*/
.middle{
    width: 80%;
    height: 1000px;
    /*background-color: palegreen;*/
}

/*文章栏*/

.txt{
    width: 70%;
    height: 960px;
    /*background-color: plum;*/
    float: left;
    margin: 9px 5px;
}
.txt ul li span{
    font-weight: bold;
    display: inline-block;
    width: 100%;
    color: blue;
    /*text-align: center;*/

}

.txt ul li{
    display: block;
    margin: 10px 10px;


}

/*右侧栏*/
.r_lan{
    width: 28%;
    height: 960px;
    /*background-color: greenyellow;*/
    float:left;
    margin: 9px 5px;
}

/*博主*/
.user_name{
    width: 95%;
    height: 310px;
    /*background-color: slateblue;*/
    margin:0 auto;
    margin-top: 5px;
}
.user_anme ui li{
    display: block;
    margin: 20px;
}



/*文章分类*/
.text-c{
    width: 95%;
    height: 310px;
    /*background-color: seagreen;*/
    margin: 0 auto;
    margin-top: 5px;
}
.text-c ui li{
    display: block;
    width: 70px;
    height: 80px;
    margin: 30px;
}
.text-c ul li h2{
    line-height: 70px;
    text-align:center;
    /*color: yellow;*/
}

/*阅读排行*/
.top{
    width: 95%;
    height: 310px;
    /*background-color: pink;*/
    margin: 0 auto;
    margin-top: 5px;
}
.top ul li {
    line-height: 60px;
    text-align: center;
    /*color:yellow;*/
}
.top ul li a{
    font-size: 20px;
    font-weight: bold;
    /*color:salmon;*/
}


/*网页底部*/
.bt{
    width: 80%;
    height: 150px;
    /*background-color: cyan;*/
}

.bt ul li{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    text-align: center;

}

.bt ul li a{
    line-height: 50px;
}

.bt ul li span{
    line-height: 50px;
}
